Repository ita-social-projects/SpaceToStudy-BackEnd, pull requests merged in 2022-07, with the labels that each got.

#21 Added winston logger that logs to MongoDB and Console
  app.js
  controllers/example.js
  logger/logger.js
  package-lock.json
  package.json
Labels: good first issue, Backend

#24 Rewrote login flow
  .eslintrc.json
  app.js
  consts/auth.js
  consts/errors.js
  controllers/admin.js
  controllers/auth.js
  controllers/auth/auth.js
  controllers/user.js
  middlewares/auth.js
  middlewares/error.js
  models/User.js
  models/example.js
  models/token.js
  models/user.js
  package-lock.json
  package.json
  routes/admin.js
  routes/auth.js
  routes/index.js
  routes/user.js
  services/auth.js
  services/token.js
  utils/errors.js
  utils/errorsHelper.js
  utils/passwordHelper.js
Labels: Backend, Auth

#23 added a wrapper for async functions
  middlewares/asyncWrapper.js
Labels: Backend

#29 Hotfix/minor auth fix
  .env
  app.js
  controllers/auth.js
  middlewares/auth.js
  services/auth.js
Labels: Backend

#28 Async wrapper implementation
  consts/errors.js
  controllers/admin.js
  controllers/auth.js
  controllers/example.js
  controllers/user.js
  middlewares/error.js
  routes/admin.js
  routes/auth.js
  routes/example.js
  routes/user.js
  utils/errorsHelper.js
Labels: Backend, error

#31 changed logger position in error middleware
  middlewares/error.js
Labels: Backend

#32 added nodemailer gmail oauth2
  consts/gmailAuth.js
  package.json
  utils/emailService.js
Labels: Backend, email

#34 set up pug, email service, added test template
  consts/emailSubject.js
  consts/errors.js
  emails/confirm-email.pug
  emails/index.js
  emails/index.pug
  package.json
  services/auth.js
  utils/emailService.js
  utils/mailer.js
Labels: Backend, email

#41 added email templates (general+confirm), styles, changed middleware i…
  app.js
  emails/confirm-email.pug
  emails/css/index.css
  emails/index.js
  emails/index.pug
  package.json
  services/auth.js
Labels: Backend, email, predecessor

#42 added package-lock file, fixed font, fixed email link
  emails/confirm-email.pug
  emails/css/index.css
Labels: Backend, email
